<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sjxy.shop.dao.CartMapper">


<!-- 
public void insert(Cart cart);
	
	public void update(int id);
	
	public void delete(int id);
	
	public Cart find(int id);
	
	public List<Cart> findAll();
	create table cart0(
	id int not null primary key,
	
	number int not null default 0,
	picture varchar(100),
	goodsName varchar(200) not null,
	price decimal(15,2)
);
 -->
 
 <insert id="insert" parameterType="cn.sjxy.shop.domain.Cart">
 	insert into cart0(id,price,number,picture,goodsName) values(#{id},#{price},#{number},#{picture},#{goodsName})
 </insert>
 
 <update id="update" parameterType="cn.sjxy.shop.domain.Cart">
 	update cart0 set number=number + #{number} where id=#{id}
 </update>
 
 <delete id="delete" parameterType="int">
 	delete from cart0 where id=#{id}
 </delete>
 
 <select id="find" parameterType="int" resultType="cn.sjxy.shop.domain.Cart">
 	select *
 	from cart0
 	
 	where id=#{id}
 </select>
 
<select id="findAll" resultType="cn.sjxy.shop.domain.Cart">
	select * from cart0
</select>
 
 
 <delete id="deleteAll" >
 	delete from cart0 
 </delete>
 
</mapper>